name: CI
on: [push]
jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install wabt
      - uses: actions/setup-go@v2
        with:
          go-version: '1.19.x'
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Make go deps
        run: make deps
      - name: Build
        run: make